body {
  background-color: rgb(236, 236, 236);
}

.ui.fluid.input {
  /* position: fixed !important; */
  /* bottom: 0; */
  /* width: 100%; */
  padding: 20px;
}

#messagebox {
  position: fixed !important;
  bottom: 0;
  width: 50%;
  /* padding: 0 20px 20px 20px; */
}

ul {
  list-style-type: none;
  width: 70%;
}

.controlcol {
  border-right: 1px solid black;
  height: 100vh;
  background-color: rgb(113, 121, 158);
}