.ui.fluid.input {
  /* position: fixed !important; */
  /* bottom: 0; */
  width: 100%;
  padding: 20px;
}

#messagebox {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  padding: 0 20px 20px 20px;
}

ul {
  list-style-type: none;
}